@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

nav {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #f2b6f1, #e9f2b6, #78a1e3);
    border-image-slice: 1;
    background-color:white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

nav .logo {
    padding: 3rem 4rem;
    float: left;
}

nav .logo a{
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    color:#926FC5;
    text-decoration:none;
}

nav ul {    
    padding: 3rem 4rem;
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content:flex-end;
}

nav li {
    width: 5em;
    text-align:center;
}

nav li a {
    text-decoration:none;
    color:black;
    font-family:"Inter", serif;
}

nav li a.active {
    border-bottom: 2px solid #f2b6f1;
    padding-bottom:6px;
}

nav li a:hover {
    background-image: linear-gradient(90deg, #8781de, #78a1e3);
    color: transparent;
    background-size:100%;
    background-clip: text;
    transition: 0.5s;
    font-weight:700;
    border-bottom: 2px solid #8781de;
    padding-bottom:6px;
    border-bottom-width:5px;
}